<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-2">
    <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
      <i class="bi bi-file-earmark-plus"></i>
    </button>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Experiencia of expe">
          <td><h4>{{ Experiencia.nombreE }}</h4></td>
          <td>{{ Experiencia.descriptionE }}</td>

          <td *ngIf="isLogged"><button class="btn btn-secondary" routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pencil-square"></i></button></td>
          
          <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Experiencia.id)"><i class="bi bi-file-earmark-x-fill"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
