<div class="row">
    <h1>Hard & Soft kills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">
            <i class="bi bi-file-earmark-plus"></i>
        </button>
    </div>
    <div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circle" *ngFor="let skill of skill">
            <circle-progress
            [percent]="(skill.porcentaje)"
            [radius]="80"
            [title]="(skill.nombre)"
            [titleColor]="'darkcyan'"
            [titleFontSize]="'20px'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'darkcyan'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>

        <div>
            <td *ngIf="isLogged"><button class="btn btn-secondary" routerLink="/editskill/{{skill.id}}"><i class="bi bi-pencil-square"></i></button></td>
            <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(skill.id)"><i class="bi bi-file-earmark-x-fill"></i></button></td>
        </div>
    </div>
    </div>
</div>