.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social{
    margin-right: 0.5em;
}
#APLogo{
    width: 150px;
}
img{
    width: 50px;
    padding-right: 4px;
}
.btn{
    border-width: medium;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo img {
    width: 150px;
    margin-right: 10px;
}

.hashtag h1 {
    color: aliceblue;
    font-size: 0.7em;
    text-align: center;
    margin-top: -20px;
}


/*--- mobile phone view --*/

@media (max-width:575px){
    .container{
        flex-direction: column;
    }
    .social{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social img{
        margin: 0.2em;
    }
}
