<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://argentinaprograma.inti.gob.ar/login/index.php"><img src="../../../assets/APLogo.png" id="APLogo"></a>
        </div>
        <div class="social">
            <a href="https://github.com/N1ght0m"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.instagram.com/george_tomas/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://twitter.com/georget37305336"><img src="../../../assets/twitter.png" id="twitter"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Login</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Sign out</button>
        </div>
    </div>
</div>

