<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Estudiante De Argentina Programa</h1> - <h3>(2022)</h3></li>
            <p>Primera fase de la capacitacion en programacion aprobada</p>
        </ul>
        <ul>
            <li><h1>Primer Año De Ingenieria Tecnica</h1> - <h3>(2017)</h3></li>
            <p>Universidad de Alepo, Siria</p>
        </ul>
        <ul>
            <li><h1>Titulo De Secundaria, Orientacion Cientifico-Tecnica</h1> - <h3>(2016)</h3></li>
            <p>Instituto Karen Yeppe Jemaran, Alepo, Siria</p>
        </ul>
    </div>
</div>

