<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/ProfilePicture.png" class="img-fluid" id="ProfilePicture">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Mi objetivo profesional es continuar expandiendo mis conocimientos en Programación e Informática. Tengo un carácter determinado y aprendo rápido.</p>
        </span>
    </div>
</div>

